<ion-view view-title="Park Info">
    <ion-content class="has-footer">
         <div  id="imgHeader" class="item item-image">
		 	<style>
				#parkHeader{
					position: absolute;
					margin-top: 40%;
					margin-left: 20px;
					color: white;
				
				}
			</style>
			<div id="parkHeader" style="font-size: 200%;" id="description">
				<a href="#/map"<i style="color: white; margin-right:20px;" class="icon ion-chevron-left"></i></a>
				{{ info.name }}
				{{ info.address }} {{ info.zip_code }}
			</div>
            
			<img style="width: 100%;"src = "../img/parkImg.png">

        </div>

        <!-- <div class="list"> -->
            <div class="item item-divider">
                Reviews
            </div>
            <a class="item item-icon-right" href="#/review">
                <i class="ion-ios-star-outline"></i>
                <i class="ion-ios-star-outline"></i>
                <i class="ion-ios-star-outline"></i>
                <i class="ion-ios-star-outline"></i>
                <i class="ion-ios-star-outline"></i>
                Write your review
                <i class="icon ion-chevron-right"></i>
            </a>
            <div class="item item-divider"></div>
        <!-- </div> -->
<!--         <div id="reviews" class="list card"> -->
            <div ng-repeat="review in reviews">
                <div class="card">
                    <div class="item item-divider">
                        <div class="row">
                            <div class="col">{{ review._user }}</div>
<!--                             <div class="col">
                                <i class="ion-ios-star-outline"></i>
                                <i class="ion-ios-star-outline"></i>
                                <i class="ion-ios-star-outline"></i>
                                <i class="ion-ios-star-outline"></i>
                                <i class="ion-ios-star-outline"></i>
                            </div> -->
                            <div class="col">
                                <div class="item-icon-left">{{ review.created_at }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="item item-text-wrap">
                        <h5 ng-bind="review.title"></h5>
                        <p ng-bind="review.content"></p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-balanced">
        <div class="title">Check In</div>
    </div>
</ion-view>
