<ion-view view-title="Park Info">
    <ion-content class="has-footer">
        <div  id="geoff" class="item item-image">
            <img src = "../img/parkImg.png">
        </div>
        <div id="description">Description of Park</div>
        <!-- <div class="list"> -->
            <div class="item item-divider">
                Reviews
            </div>
            <a class="item item-icon-right" href="#/review">
                <i class="ion-ios-star-outline"></i>
                <i class="ion-ios-star-outline"></i>
                <i class="ion-ios-star-outline"></i>
                <i class="ion-ios-star-outline"></i>
                <i class="ion-ios-star-outline"></i>
                Write your review
                <i class="icon ion-chevron-right"></i>
            </a>
            <div class="item item-divider"></div>
        <!-- </div> -->
<!--         <div id="reviews" class="list card"> -->
            <div class="card">
                <div class="item item-divider">
                    <div class="row">
                        <div class="col">Maric S</div>
                        <div class="col">
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                            <i class="ion-ios-star-outline"></i>
                        </div>
                        <div class="col">
                            <div class="item-icon-left">2/12/16</div>
                        </div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    This park sucks donkey
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    <div class="row">
                        <div class="col">David D</div>
                        <div class="col">
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star-outline"></i>
                        </div>
                        <div class="col">
                            <div class="item-icon-left">2/12/16</div>
                        </div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    One of the best parks I have ever been too. Especially when the weather is nice. The sun is out and I really want to play tennis
                </div>
            </div>
<!--             <div class="list card">
                <div class="item item-avatar">
                    <h2>Jessica H.</h2>
                </div>
                <div class="item item-body">
                    <p>This park fucking sucked</p>
                </div>
            </div> -->
<!--             <div class='"review'>
                <div class="item item-divider"></div>
                <div class="item">Jessica H. **** 2/12/16</div>
                <div class="item">"blah blah blah blah blah"</div>
            </div> -->
        <!-- </div> -->
    </ion-content>

    <div class="bar bar-footer bar-balanced">
        <div class="title">Check In</div>
    </div>
</ion-view>
