<ion-view view-title="Write Review">

    <div class="bar bar-header bar-balanced">
        <button class="button icon ion-close-round" ng-click="exit()"></button>
        <h1 class="title">Write Review</h1>
        <button class="button icon ion-ios-compose-outline" ng-click="save()"></button>
    </div>
    <ion-content class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Title" ng-model="review.title"></input>
            </label>
            <label class="item item-input">
                <textarea id="review_text" placeholder="Write a review" ng-model="review.content"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>