/* Empty. Add your own CSS if you like */
.map {
  height: 100%;
}

#review_text {
  height: 100%;
}

#park_img{
	background: url("../img/parkImg.png")
}

#geoff{
	background-color:black;
}

.seattleParkView {
  background-image:  url("../img/loginWlogo.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
/** {
  outline: green thin dashed;
}*/