/* Empty. Add your own CSS if you like */
.map {
  height: 100%;
}

#review_text {
  height: 100%;
}

#park_img{
	background: url("../img/parkImg.png")
}

#geoff{
	background-color:black;
}
/** {
  outline: green thin dashed;
}*/